services:
  - type: web
    name: skyseeall
    runtime: python
    repo: https://github.com/skyseeall1988-afk/SkySeeAll
    plan: free
    branch: main
    buildFilter:
      paths:
        - "app.py"
        - "requirements.txt"
    #V10.1 FIX: 'buildCommnd' typo corrected to 'buildCommand'
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn -k eventlet -w 1 app:app"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: neondb
          property: connectionString
      - key: ADMIN_TOKEN
        sync: false
